:root {
    /* --primary-color: #059032; */
    /* --secondary-color: #CBEAD5; */
    /* --footer-bg-color: #B0B0B0; */
    --primary-color: #002C5C;
    --secondary-color: #E2EBF5;
    --accent-color: #e74c3c;
}

.header-bg {
    background-color: var(--primary-color);
}

.footer-bg {
    background-color: var(--primary-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}