:root {
    --primary-color: #306278 !important;
    --secondary-color: #A1C6D9 !important;
    --header-bg-color: #306278 !important;
    --footer-bg-color: #306278 !important;

    /*
    CHUV's theme
    --primary-color: #059032 !important;
    --secondary-color: #CBEAD5 !important;
    --header-bg-color: #059032 !important;
    --footer-bg-color: #B0B0B0 !important;
    */

    /*
    USZ's theme
    --primary-color: #002C5C !important;
    --secondary-color: #C5D5DB !important;
    --header-bg-color: #002C5C !important;
    --footer-bg-color: #002C5C !important;
    */
}

.header-bg {
    background-color: var(--header-bg-color) !important;
}

.footer-bg {
    background-color: var(--footer-bg-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}