:root {
    --primary-color: #005EA8;
    --secondary-color: #C5D5DB;
    --accent-color: #e74c3c;
}

.header-bg {
    background-color: var(--primary-color);
}

.footer-bg {
    background-color: var(--primary-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}