@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead th {
    font-size: 14px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #1f2937;
    text-transform: none;
    text-align: left;
    padding: 8px;
    vertical-align: middle;
}

table tbody td {
    font-size: 12px;
    font-family: "Inter", sans-serif;
    color: #374151;
    text-align: left;
    padding: 8px;
    vertical-align: middle;
}


.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gauge-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gauge-svg {
    display: block;
    margin: 0 auto;
}

.gauge-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.gauge-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gauge-section h3 {
    font-size: 1.2rem;
    color: #333;
}

